<footer class="bg-light ">
    <div class="container">
        <h3>    Get The FreshCart App</h3>
        <p>we will send you a link, open it on your phone to download the app</p>
        <div class=" d-flex align-items-center justify-content-between mb-4  ">
            <input style="width: 80%;" type="email" placeholder="Email.." > 
            <a style="width:19% ;" href="" class="btn bg-main text-white"> Share App Email</a>
        </div>
        <div class="  position-relative">
            <div class="text-line">
                 <h6 class="text py-4">Patment Parteners</h6>     
            </div>             
        </div>
    </div>
   
    
</footer>