<footer class="bg-main-light bottom-0 ">
    <div class="container ">
        <div>
            <h3 class="fw-normal"> Get The FreshCart App</h3>
            <p>we will send you a link, open it on your phone to download the app</p>
        </div>

        <div class=" d-flex align-items-center justify-content-between mb-4  ">
            <input style="width: 80%;" type="email" placeholder="Email..">
            <a style="width:19% ;" href="" class="btn bg-main text-white"> Share App Email</a>
        </div>
        <div class="  position-relative">
            <div class="text-line d-flex justify-content-between align-items-center">
                <p class="text py-4 fw-bolder">Payment Parteners</p>
                <div class="  w-50 d-flex justify-content-end">
                    <span class="pt-3">
                        <p class="">get delivers with FreshCart</p>
                    </span>
                    <img src="../../assets/images/5a902dbf7f96951c82922875.png" class="w-25" alt="">
                    <img src="../../assets/images/5a902dbf7f96951c82922875.png" class="w-25 " alt="">
                </div>

            </div>
        </div>
    </div>


</footer>