<div class=" w-50 my-5 d-flex align-items-center justify-content-center " style="height:auto;">
<form [formGroup]="shippingAdress" (ngSubmit)="handelSubmit(shippingAdress)">
    <label for="detailes">Detailes:</label>
    <input type="text" formControlName="detailes" class="form-control mb-2" id="detailes">
    <label for="phone">phone:</label>
    <input type="tel" formControlName="phone" class="form-control mb-2" id="phone">
    <label for="city">city:</label>
    <input type="text" formControlName="city" class="form-control mb-2" id="city">
    <button class="btn bg-main text-white" type="submit">pay</button>
</form>
</div>