


<div class="row gx-0 py-4 w-100">
    <div class="col-md-8 w-75">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide> <img height="400" src="../../assets/images/slider-image-1.jpeg" alt=""> </ng-template>  
            <ng-template carouselSlide> <img height="400" src="../../assets/images/slider-image-2.jpeg" alt=""> </ng-template>  
            <ng-template carouselSlide> <img height="400" src="../../assets/images/slider-image-3.jpeg" alt=""> </ng-template>  
          </owl-carousel-o>
    </div>
    <div class="col-md-4 d-flex flex-column w-25 ">
<img height="200" src= "../../assets/images/1000_F_606112574_HCxjLZswaOCuw6K6TVsCCiQiwxKhhUUB.jpg" class="w-75" alt="">
<img height="200" src="../../assets/images/1000_F_214031794_KhyGQjtdvMSKejtczPZHaL8pKRcUIZiT.jpg" class="w-75" alt="">

    </div>
</div>