
<div class="row align-items-center py-4">
    <div class="col-md-4">
        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let img of protectDetailes.images">
              <ng-template carouselSlide >
                <img [src]="img">
              </ng-template>
            </ng-container>
        
          </owl-carousel-o>
<!-- <img [src]="protectDetailes?.imageCover" class="w-100"> -->
    </div>
    <div class="col-md-8">
        <h2 class="h6 fw-bolder mb-2">{{protectDetailes?.title}}</h2>
        <p class="text-muted p-3">{{protectDetailes?.description}}</p>
        <div class="d-flex align-items-center justify-content-between">
            <span class="text-muted fw-bold font-sm">{{protectDetailes?.price}} EGP</span>
            <div>
                <i class="fas fa-star rating-color"></i>
                <span class="text-muted fw-bold font-sm">{{protectDetailes?.ratingsAverage}} </span>
            </div>
        </div>
        <button class="btn bg-main text-white w-100 text-center my-2">+ Add</button>
    </div>
</div>